accelerate==1.13.0
datasets==4.8.5
einops==0.8.1
flash-attn==2.8.3
huggingface-hub==0.35.1
liger-kernel==0.6.2
ninja==1.13.0
numpy==1.26.4
packaging==25.0
pandas==2.3.2
pyyaml==6.0.3
safetensors==0.6.2
tokenizers==0.22.1
tilelang @ git+https://github.com/tile-ai/tilelang.git@53ea96c6d8c02d0f4b51f3ce87236b0b2739ba6f
veomni @ git+https://github.com/ByteDance-Seed/VeOmni.git@441e1b2483921e9cfe56c8d97541a23cb4b290a8
tqdm==4.67.1
transformers==4.57.3
wandb==0.22.0
